<div class="container">
  <header>
    <div>
      <img src="../../../assets/cashflow-icon.png" alt="Cashflow" />
      <h1>Olá, {{ user.name }}</h1>
    </div>
    <button class="primary">Nova Transação</button>
  </header>

  <main>
    <section class="balances-container">
      <div>
        <p>Entradas</p>
        <h2>R$ {{ userBalance.credits }}</h2>
        <p *ngIf="lastCreditTransaction.created_at">
          Última entrada em {{ lastCreditTransaction.created_at }}
        </p>
        <img src="../../../assets/circle-up.svg" alt="Seta pra cima" />
      </div>

      <div>
        <p>Saída</p>
        <h2>R$ {{ userBalance.debits }}</h2>
        <p *ngIf="lastCreditTransaction.created_at">
          Última saída em {{ lastDebitTransaction.created_at }}
        </p>
        <img src="../../../assets/circle-down.svg" alt="Seta pra baixo" />
      </div>

      <div style="background-color: var(--green-dark)">
        <p>Total</p>
        <h2>R$ {{ userBalance.balance }}</h2>
        <p style="visibility: hidden">a</p>
        <img src="../../../assets/dollar.svg" alt="Ícone de dólar" />
      </div>
    </section>

    <div class="transactions-quantity">
      <p>Transações</p>
      <span>4 itens</span>
    </div>

    <div class="search-bar">
      <app-input
        componentClass="test"
        placeholder="Busque uma transação"
        name="search-bar"
        [(ngModel)]="search"
      />
      <button (click)="filterTransactionsByName()">
        <i class="material-icons">search</i>
        <span>Buscar</span>
      </button>
    </div>

    <section class="card-list">
      <app-card-item
        *ngFor="let transaction of userTransactions"
        [amount]="transaction.amount"
        [category]="transaction.category"
        [description]="transaction.description"
        [type]="transaction.type"
        [id]="transaction.id"
        [created_at]="transaction.created_at"
      />
    </section>
  </main>
</div>
